body{
    background-color: white;
}

#body.home div.header img {
    width: 1126px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    border: none;
}

#body.home div.body div img {
    width: 330;
    margin: 0;
    padding: 0;
    position: relative;
    border: none;
}

